@font-face {
  font-family: "Hipeless Brush Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./Assets/HipelessBrush-Yz5eO.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Hipeless Brush Regular";
  box-sizing: border-box;
}
