.story-cont {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../Assets/bg-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: -4px;
  padding: 2.5rem 0rem;
}
.story {
  max-width: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  gap: 20px;
  border-radius: 15px;
}
/* background-image: linear-gradient(152deg, #0a3e54, #497078); */
/* .story h1 {

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.865983893557423) 28%,
    rgba(255, 52, 52, 0.8855917366946778) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5rem;
  font-weight: 400;
  text-align: center;
  color: black;
  text-shadow: 8px 6px 0px rgb(0 0 0 / 20%);
} */
.heading {
  max-width: 100%;
  object-fit: contain;
}
.story-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  list-style-image: url("../../Assets/star-solid.png");
  /* list-style: #980000; */
  gap: 15px;
}
.story-div li::marker {
  color: red;
}
.story-div p {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.story-div p strong {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 972px) {
  .story {
    max-width: 95%;
  }
}
@media screen and (max-width: 548px) {
  .story h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 404px) {
  .story h1 {
    font-size: 2.2rem;
  }
}
